  .login-container {
    box-shadow: var(--hover-shadows);
    --hover-shadows: 16px 16px 33px #07A0C3, -16px -16px 33px #8FEBFF;
    background-color: #F8F9FA;
    border: none;
    border-radius: 15px;
    padding-bottom: 20px;
    padding-left: 20px; 
    padding-right: 20px;
    padding-top: 40px;
    min-width: 650px;
    height: fit-content;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .book_c1, .book_c2, .book_c3 {
    margin-right: 20px;
  }

  .login-container h2 {
    font-family: 'League Spartan', sans-serif;
    margin-bottom: 10px;
    color: #FA9A54;
    text-shadow: 1px 2px 2px #626262;
  }

  .form-group {
    position: relative;
  }

  .login-container input, .login-container select, .court {
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .login-container label {
    position: absolute;
    left: 10px;
    top: 40%;
    transform: translateY(-50%);
    color: #bcbcbc;
    font-size: 14px;
    pointer-events: none;
    transition: top 0.3s, font-size 0.3s;
  }
  .login-container input:focus + label,
  .login-container input:valid + label,
  .login-container select:focus + label,
  .login-container select:valid + label,
  .login-container #totalPrice:indeterminate + label {
    position: absolute;
    left: 10px;
    top: 0%;
    padding-bottom: 16px;
    transform: translateY(-50%);
    color: #82c87e;
    font-size: 16px;
    pointer-events: none;
  }

  .login-container button {
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
  }

  .submitBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #82c87e;
    width: 25%;
    margin: 0 auto;
  }
  .checkBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #07A0C3;
    width: 25%;
    margin: 0 auto;
  }

  .login-container a {
    color: #4caf50;
    text-decoration: none;
    margin-left: 5px;
  }

  .page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 84vh;
  }