/* From Uiverse.io by adamgiebl */ 
button {
    font-family: inherit;
    font-size: 12px;
    background: royalblue;
    color: white;
    text-align: center;
    justify-content: center;
    max-width: 65px;
    max-height: 30px;
    margin: 0px !important;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
  }

  button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }

  button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }

  button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }

  button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
  }

  button:hover span {
    transform: translateX(5em);
  }

  button:active {
    transform: scale(0.95);
  }

  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }

    to {
      transform: translateY(-0.1em);
    }
  }

  /* Custom styles */
  .section {
      display: flex;
      flex-direction: column;
  }
  .section h3 {
      margin-bottom: 10px;
      color: #555;
      font-weight: bold;
  }
  .section button {
      margin-top: 8px;
      margin-bottom: 8px;
      width: 100%;
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
  }
  .section ul {
      list-style-type: none;
      padding-left: 0;
  }
  .section ul li {
      margin: 8px 0;
  }
  .section label {
      font-weight: bold;
  }
  .table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 10px;
      margin-bottom: 0px;
  }
  .table th, .table td {
      border: 1px solid #ddd;
      padding: 8px;
  }
  .table th {
      background-color: #f2f2f2;
      text-align: left;
  }
  .pagination {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 0px;
    width: 100%;
    max-height: fit-content;
  }
  .current {
      font-weight: bold;
      text-align: center;
      padding: 0 10px;
  }

  td.label {
    margin: 0 auto;
  }
  td.value {
    padding-top: 10px !important;
    padding-bottom: 10px;
  }
  td.value > img {
    margin: 0px !important;
    padding: 0px !important;
  }

  .box {
    max-width: 100%;
    max-height: 280px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 10px;
  }
  .table-box {
    max-width: 100%;
    max-height: fit-content;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 10px;
  }
  .flex-container {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Adjust spacing between sections as desired */
    margin-bottom: 20px; /* Space between rows */
    }
    .flex-container .section {
        width: 100%; /* Ensures each section occupies half the row */
    }


  .verified {
    font-family: 'League Spartan', sans-serif;
    color: #1cb31a;
    font-size: 16px;
    margin: 0px !important;
    padding: 0px !important;
  }
  .unverified {
    font-family: 'League Spartan', sans-serif;
    color: #FF2E15;
    font-size: 16px;
    margin: 0px !important;
    padding: 0px !important;
  }
  .notice {
    font-family: 'League Spartan', sans-serif;
    color: #909090;
    font-size: 16px;
  }
  .value {
    font-family: 'League Spartan', sans-serif;
    color: #909090;
    font-size: 16px;
  }
  .label {
    font-family: 'League Spartan', sans-serif;
    color: #000000;
    font-size: 16px;
  }

  .google-btn {
    background-color: #4285f4;
    color: #fff;
    border: none;
    padding: 10px;
    max-width: max-content;
    border-radius: 5px;
    cursor: pointer;
  }
  .google-btn:hover {
    background-color: #104dae;
  }
  .google-btn:active {
    background-color: #052157;
  }
  .google-btn:focus {
    outline: none;
  }